body{
  bottom: 0;
  top: 0;
  overflow-y:scroll;
  background:#d1e1c5;
}
#main-area {
  padding-top:8em;
  margin-bottom:5em;
}
#mainPanelAccord {
  max-width:100em;
  margin:auto;
  margin-bottom:0;
  background:#d1e1c5;
}


.panel-accordian.panel + .panel{
 border-radius:0;
  margin-top:0;
  border-top-color: lightblue;
}

.panel-accordian.panel .panel-heading{
   border-radius:0;
}

.panel-accordian{
  border-radius:0;
}

.panel-accordian.panel:first-child{
 border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
    border-bottom:none;
}

.panel-accordian.panel:last-child{
 border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.panel-primary .panel-heading a .fa-info-circle{
  color:lightblue
}

.panel-disabled{
  background:#ddd;
}

/*
.panel-group .panel + .panel{
  margin-top:0;
  border-radius:0;
}

.panel-group .panel-heading{
  border-radius:0;
}

*/

.hidePanel { display: none !important; }

.showPanel { display: block !important; }

.fillWidth { width: 100%; }
.eightyWidth {
  width: 80%;
  margin-left:10%;
}

.panel-group{
  margin-bottom:0;
  background:darkseagreens;
}
.panel-section {
  padding:5px;
  border:none;
}

.section-header{
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 16px;
    color: inherit;
    font-weight: bold;
}

.selectize-input{ z-index: 0; }

.fixed-header{
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  box-shadow: 0px 5px 5px #888888;
}

.modal-dialog{
  margin-top:8em
}
.modal-body{
  max-height:45em;
  overflow-y:scroll;
}

.help-modal-body{
  padding:1em 3em 1em 3em;
}

.modal-xl{
  width:80%;
}

.modal-footer{
  box-shadow: 0px -.3em .3em #888;
}

.modal-header{
  box-shadow: 0px .3em .3em #888;
}
.y-overflow-scroll{
  max-height:14em;
  overflow-y:auto;
}

.control-label {
	max-width: fit-content;
	margin-left:5px;
}

/*
.help-scroll{
  max-height:95em;
  overflow-y:auto;
}
*/

.scroll-shadows {
/*  max-height: 200px; */
  margin:3px !important;
  padding:3px;
  overflow: auto;

  background:
    /* Shadow Cover TOP */
    linear-gradient(
      white 30%,
      rgba(255, 255, 255, 0)
    ) center top,
    
    /* Shadow Cover BOTTOM */
    linear-gradient(
      rgba(255, 255, 255, 0), 
      white 70%
    ) center bottom,
    
    /* Shadow TOP */
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center top,
    
    /* Shadow BOTTOM */
    linear-gradient(
          rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.2)
    ) center bottom;
  
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

/*
.formGroup {
  display: flex;
  flex-wrap: wrap;
}
*/


.inline .form-group {display: inline-block;}

.formListRow{
  margin:.5em;
  padding:.5em;
}
.formListRow + .formListRow{
  border-top:#ddd medium solid;
}

.formListRow .form-group {margin-bottom: .5em}
.formListRow label{
  font-weight:normal;
}


.inline .form-group .control-label {min-width: fit-content; text-align: right; margin: 5px; vertical-align: middle;}
.inline .form-group .form-control {min-width: 5em;}
.inline label.control-label + div {width: 100%;}
/* for some reason role=presentation comes and goes
.inline label.control-label + div[role=presentation] {width: 100%;}
*/

.selectize-control.multi .selectize-input > div{
  background:lightgreen;
}

/*
.fa-info-circle{margin-top:2px;}
.fa-info-circle{margin-left:2px}
.fa-info-circle{margin-left:2px}
*/
.fas.fa-circle-info {
	font-size: 80%;
	vertical-align: super;
}

.extra-wide textarea {flex-shrink:0; width:100%}

.panel-heading {display: flex}
.panel-heading .shiny-input-radiogroup {display: inline-flex; height:0; padding-right: 3em}
.panel-heading .shiny-input-radiogroup .control-label {font-weight:500; padding-right: .5em; padding-left: 3em; min-width: 17em;}
.panel-heading .shiny-input-radiogroup .radio-inline input[type="radio"]  {padding-left:5em; margin-top:3px}
.panel-heading .panel-title {min-width:10em}
.panel-status-text {margin-left: auto;}

.btn.button-secondary{
	background-color:lightgrey;
	border-color: grey;
}

#dropdown-menu-action_menu_dropdown {
	padding: 0;
}
.dropdown-menu li{
  margin:0 !important; 
}

