
#mainPanelAccord {
  max-width:100em;
  margin:auto;
  
}

.hidePanel { display: none !important; }

.showPanel { display: block !important; }

.fillWidth { width: 100%; }
.eightyWidth {
  width: 80%;
  margin-left:10%;
}


.panel-section {
  padding:5px;
}

.selectize-input{ z-index: 0; }

.topmenu{
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
}

.modal-dialog{
  margin-top:8em
}

.modal-xl{
  width:80%;
}

.y-overflow-scroll{
  max-height:10em;
  overflow-y:auto;
}

.scroll-shadows {
/*  max-height: 200px; */
  margin:3px !important;
  padding:3px;
  overflow: auto;

  background:
    /* Shadow Cover TOP */
    linear-gradient(
      white 30%,
      rgba(255, 255, 255, 0)
    ) center top,
    
    /* Shadow Cover BOTTOM */
    linear-gradient(
      rgba(255, 255, 255, 0), 
      white 70%
    ) center bottom,
    
    /* Shadow TOP */
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center top,
    
    /* Shadow BOTTOM */
    radial-gradient(
      farthest-side at 50% 100%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center bottom;
  
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

/*
.formGroup {
  display: flex;
  flex-wrap: wrap;
}
*/
.inline .form-group {display: inline-flex;}

.formListRow hr {margin: .5em}
.formListRow .form-group {margin-bottom: .5em}


.inline .form-group .control-label {min-width: 5em; text-align: right; margin: 5px; vertical-align: middle;}
.inline .form-group .form-control {min-width: 5em;}
.inline label.control-label + div {width: 100%;}
/* for some reason role=presentation comes and goes
.inline label.control-label + div[role=presentation] {width: 100%;}
*/

.fa-info-circle{margin-top:2px;}
.fa-info-circle{margin-left:2px}


.extra-wide textarea {flex-shrink:0; width:100%}

.panel-heading {display: flex}
.panel-heading .shiny-input-radiogroup {display: inline-flex; height:0; padding-right: 3em}
.panel-heading .shiny-input-radiogroup .control-label {font-weight:500; padding-right: .5em; padding-left: 3em; min-width: 17em;}
.panel-heading .shiny-input-radiogroup .radio-inline input[type="radio"]  {padding-left:5em; margin-top:3px}
.panel-heading .panel-title {min-width:10em}
.panel-status-text {margin-left: auto;}

.btn.button-secondary{
	background-color:lightgrey;
	border-color: grey;
}